body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #282f59;

}

p{
    font-family: serif;
    line-height: 20px;
    letter-spacing: 1px;
    color: wheat;
    padding: 10px;
}

.start{
    font-family:sans-serif;
    letter-spacing: 2px;
    color: whitesmoke;
    padding: 2px;
    margin-top: 200px;
}


header{
    padding: 20px;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.row{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
}

nav{
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-around;
}

nav img{
    width: 200px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: antiquewhite;
}
li button{
    background-color:#282f59;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

header .info,.image{
    flex-basis: 50%;
    flex-wrap: wrap;
}

.image img{
    margin-left: 80px;
    margin-top: -100px;
}


.one{
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    background-color: coral ;
    color: antiquewhite;
    transition: 0.5s;
}

.second{
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    background-color:  #F97878 ;
    color: antiquewhite;
     transition: 0.5s;
        
}

.info button{
    margin-left: 20px;
}

.second:hover{
    cursor: pointer;
    transform: translateY(-5px);
    transition: 0.5s;
    background-color:whitesmoke;
    color: orange;
   
}
.one:hover{
    cursor: pointer;
    transform: translateY(-5px);
    transition: 0.5s;
     background-color: transparent;
    border: dotted 2px;
    border-color:antiquewhite;
}

.container h1{
    color: whitesmoke;
    font-family: serif;
    letter-spacing: 2px;
    padding-top: 30px;
    padding-left: 20px;
}

.cards{
    padding: 30px;
    margin-top: 100px;
}

.container{
    display: flex;
}

.grid-wrapper , .services{
    flex-basis: 50%;
}

.grid-card{
    padding: 10px;
    background-color:black;
    height: 200px;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.37);
     transition: transform 1s ease-in-out;
}
.gird-wrapper:hover{
   
}

.grid-wrapper{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px,auto));
     grid-gap: 20px;
    margin-left: 70px;
}
.grid-wrapper h1{
   padding: 0px;
    margin-bottom: 20px;
     font-family: fantasy;
    font-weight: 100;
}

.grid-card img{
    height: 90px;
    width: 80px;
    margin-top: 20px;
   
}

.first{
   background-image: linear-gradient(to bottom right, rgb(107, 107, 255), blue);
    margin-top: -30px;
}
.two{
  background: linear-gradient(to right, #8e2de2, #4a00e0);
}
.third{
   background-image: linear-gradient(to bottom right, rgb(255, 207, 145),rgb(255, 111, 92));
    margin-top: -30px;
}
.forth{
   background-image: linear-gradient(to bottom right, #2af598, #009efd);
}

.services{
    margin-right: 100px;
    padding-left: 50px;
    position: relative;
   
}
.services button{
    padding: 10px;
    outline: none;
    font-family: inherit;
    font-weight: 500;
    background-color:  #F97878 ;
    border: none;
    color:whitesmoke;
    position: relative;
    margin-left: 90px;
    animation: drag 5s ease-in-out infinite;
    
}

.circle img{
    position: absolute;
    top: -15%;
    left: -20%;
    width: 650px;
    height: 600px;
    z-index: -1;
    opacity: 50%;
    animation: beat 6s ease-in-out infinite
}

/***********ANIMATION**************/
@keyframes beat{
    0%{
        transform: scale(1.2);
    }
    
    50%{
        transform: scale(1);
    }
    
    100%{
        transform: scale(1.2);
    }
}

@keyframes drag{
    0%{
        transform: translateX(30px);
    }
    
    50%{
        transform: translateX(0px);
    }
    
    100%{
        transform: translateX(30px);
    }
}

/********************************/

.five{
    background-image: linear-gradient(to bottom right, rgb(107, 107, 255), blue);
}

.six{
     background: linear-gradient(to right, #8e2de2, #4a00e0);
}

.seven{
     background-image: linear-gradient(to bottom right, rgb(255, 207, 145),rgb(255, 111, 92));
}

.eight{
    background-image: linear-gradient(to bottom right, #2af598, #009efd);
}

.cards1{
    padding: 20px;
    margin-top: 70px;
    
}

.ranking h1{
    font-size: 30px;
    font-weight: 200;
    font-family: fantasy;
    letter-spacing: 3px;
    color: whitesmoke;
    padding-left: 5px;
}
.ranking p{
    margin-left: 7px;
}

.ranking{
    padding: 10px;
    align-items: center;
    margin-left: 70px;
}

.grid-wrapper-1{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px,auto));
     grid-gap: 20px;
    margin-left: 70px;
    flex-basis: 50%;
    grid-row-gap: 35px;
}

.five,.six,.seven, h1,p{
    padding: 0px;
    align-items: center;
}

.grid-wrapper-1 .grid-card{
    height: 180px;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}
.five,.six,.seven,.eight h1{
    font-size: 20px;
}

.separate{
    font-size: 400px;
}

section .grid-card:hover{
    transform: translateY(-30px);
    cursor: pointer;
}

.gym img:hover{
    cursor: pointer;
    opacity: 30%;
    transition: 1s;
}

.gym img {
    transition: 1s ;
    
}
.gym p{
    position: absolute;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 200px;
    font-size: 30px;
    line-height: 30px;
    color: whitesmoke;
    transition: 1s;
}

.gym p:hover{
    display: block;
    transition: 1s;
}


.work {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
.work h1{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;
}

.work .card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(350px,auto));
    padding: 40px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
    
}

.work .card-wrapper .card{
    position: relative;
    transition: 0.7s;
    cursor: pointer;
}

.card img{
    max-height: 100%;
    max-width: 100%;
}

.work .card-wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items:center;
}

.work .card-wrapper .card .overlay a{
    color:whitesmoke;
    text-decoration: none;
    font-family: fantasy;
    font-weight: 400;
    font-size:40px;
    
}

.work .card-wrapper .card:hover .overlay{
    opacity: 0.5;
    transition: 0.5s;
}

.train{
    width: 100%;
    height: 400px;
     background-image:linear-gradient(
        rgba(35,43,56,0.7),
        rgba(35,43,56,0.7)
    ), url(images/train%20bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.trainers h1{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: whitesmoke;
    margin-top: 50px;
    padding: 20px;
    text-shadow: 1px 1px 1px black;
}

.train{
    text-align: center;
    align-items: center;
}

.train .sec1 h2{
    color: whitesmoke;
    font-size: 40px;
    font-weight: 500;
    padding-top: 50px;
    text-shadow: 2px 2px 2px black;
}
.sec1 p{
    font-weight: 300;
    font-size: 20px;
    padding: 20px;
}
.sec1 button{
    font-size: 20px;
    padding: 10px 20px;
    background-color: black;
    color: whitesmoke;
    outline: none;
    border: none;
    box-shadow: 2px 2px 3px black;
    font-family: fantasy;
    letter-spacing: 2px;
    font-weight: 100;
    transition: 0.5s;
}
.sec1 button a{
    text-decoration: none;
     font-size: 20px;
    color: whitesmoke;
    font-family: fantasy;
    letter-spacing: 2px;
    font-weight: 100;
}
.sec1 button:hover{
    background-color: whitesmoke;
    color: black;
    transform: translateY(-10px);
    transition: 0.5s;
    transition: transform 0.5s ease-in;
    cursor: pointer;
}
.sec1 button a:hover{
    color: black;
    transition: 0.5s;
}


.meet{
    background-color: whitesmoke;
    height: 430px;
    margin-left: 10px;
    margin-right: 30px;
    position: relative;
    text-align: center;
    border-radius: 20px;
}

.meet:hover{
    background-color:aquamarine;
    opacity: 1;
    cursor: pointer;
    transition: 0.5s;
}

.meet button{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
    border: none;
    border-radius: 5px;
    background-color:black;
    color: whitesmoke;
    margin-top: 5px;
    
}
.meet button:hover{
    background-color: whitesmoke;
    border: 2px solid black;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.meet img{
    width: 150px;
    border-radius: 50%;
    margin-left: 0px;
    margin-top: 30px;
}
.meet h2,h3{
   padding: 0px;
    margin-left: 0px;
    font-weight: 500;
    font-family: sans-serif;
}
.social-profiles{
   margin-left: 0px;
}
.social-profiles i{
    padding: 20px;
    transition: 0.5s;
}

.social-profiles i:hover{
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.5s;
}

.gallery{
    display: flex;
    margin: 0px;
    background-image:linear-gradient(to bottom right, rgb(255, 207, 145),rgb(255, 111, 92));
    padding: 50px;
}

.gallery button{
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    display:inline-block;
    position: absolute;
    top: 50%;
    color: whitesmoke;
    
    
}
.gallery .images{
    width: 400px;
    height: 350px;
    margin: 20px;
    outline: none;
}

.images img{
    width: 400px;
    height: 350px;
    border: 3px solid black;
}

.testimonals{
    padding: 20px;
    margin-top: 70px;
}

.testimonals h1{
    color: whitesmoke;
    padding-left: 10px;
   
    margin-left: 30px;
    font-size: 30px;
    font-weight: 500;
    font-family: sans-serif;
}
.testimonals p{
    padding: 10px;
    margin-left: 30px;
    font-weight: 400;
    font-family: serif;
    color: whitesmoke;
}

.review{
   margin-top: 30px;
    min-height: 400px;
    margin-right: 50px;
}
.testimonals .grid-wrapper{
    margin-left: 20px;
}

.review img{
    max-width: 100px;
    max-height: 200px;
    border-radius: 50%;
}

.review .profile{
    display: flex;
    flex-basis: 50%;
    margin: 20px;
}
.profile h1,p{
    font-family: serif;
}

.newsletter{
    
    padding: 20px;
    height: 400px;
    
}



.newsletter .welcome{
    margin-left: 20% ;
    margin-right: 5%;
    margin-top: 0;
    padding-left: 80px;
}

.newsletter .image{
    margin-right: 0;
    margin-left: 40px;;
    margin-top: 150px;
    width: 300px;
}

.newsletter .image img{
    width: 500px;
    height: 350px;
}

.newsletter p{
    padding: 20px 0;
    color:black;
    font-family:monospace;
    font-size: 15px;
    font-weight: 300;
    
}


.newsletter input{
    width: 350px;
    height: 30px;
    padding: 4px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
     /* Tell the input to use all the available space */
  flex-grow:2;
}

.newsletter input:focus{
    outline: none;
}

.welcome form{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: white;
    height: 40px;
    border-radius: 4px;
}

.welcome form button{
    padding: 0 10px;
    width: 150px;
    border: none;
    border-radius: 4px;
    background: #fcba03;
    color: antiquewhite;
    font-size: 20px;
}
.welcome form button:hover{
    background: #21212E;
    transition: 0.3s;
    cursor: pointer;
}

.welcome h1{
    color: whitesmoke;
    font-size: 30px;
    font-family: fantasy;
    font-weight: 500;
    letter-spacing: 2px;
    padding-left: 0px;
}
.welcome p{
    color: whitesmoke;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;
}

.row{
    display: flex;
   align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
}

.col-4{
    flex-basis: 25%;
    min-width: 200px;
    margin-bottom: 30px;
    transition: 0.5s;
}

.footer{
    padding: 40px;
    background-image: url(images/footer-agency.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.end{
    
   margin-top: 70px; 
}

.end h1,h4{
    color: antiquewhite;
    font-size: 30px;
    text-align: center;
    padding: 0px;
}
.end p,h5{
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.end hr{
    color:  #fcba03;
    
}

.end h5:hover{
    color: #fcba03;
    transition: 0.3s;
}
.end p:hover{
    color: #fcba03;
    transition: 0.3s;
}

.call h4{
    color: black;
    font-size: 15px;
}

.time h4{
     color: black;
    font-size: 15px;
}

.final{
    text-align: center;
    padding: 10px    20px;
    background: #21212E;
    color: antiquewhite;
    margin-left: 85px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
.final:hover{
    background-color: whitesmoke;
    color: black;
    transition: 0.5s;
}

#scroll-to{
    color: white;
    background-color: orange;
    padding: 15px;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

#scroll-to:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

 .arrow_prev{
    position: absolute;
    color: whitesmoke;
     left: 1%;
     top: 65%;
     font-size: 40px;
     margin-top: -50px;
   
}

.arrow_next{
    position: absolute;
    color: whitesmoke;
     left: 97%;
    top: 65%;
     font-size: 40px;
     margin-top: -50px;
   
}












